<%= link_to article_path(display_medium.abv_title) do %>
<div class = "story medium">
<div class = "textbox"><%= display_medium.title %></div>
<div class = "filler"></div>
<div class = "picbox"><%= image_tag(display_medium.display_pic, class: "displaypic") %></div>
</div>
<% end %>