<%= link_to article_path(display_large.abv_title) do %>
<div class = "story big">
<div class = "textbox"><%= display_large.title %></div>
<div class = "filler"></div>
<div class = "picbox"><%= image_tag(display_large.display_pic, class: "displaypic") %></div>
</div>
<% end %>